body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive, serif;
}

h2 {
    font-size: 3rem;
    font-family: 'Montaga', sans-serif;
}

h3 {
    font-family: 'Montaga', sans-serif;
    font-size: 1.75rem;
}

p {
    font-family: "Montaga", sans-serif;
    font-size: 1.5rem;
}

hr {
    border: dotted #EAF6F6 6px;
    width: 10%;
    border-bottom: none;
}

a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.name {
    color: #00adb5;
    margin-top: 0;
    margin-bottom: 5px;
}

.description {
    margin-top: 0;
    margin-bottom: 0;
    color: #00adb5;
    font-weight: normal;
}

.profile-pic {
    height: 250px;
}

.piano {
    width: 12rem;
    height: 12rem;
    float: right;
    padding-right: 20px;
}

.computer-pic {
    width: 12rem;
    height: 12rem;
    padding-right: 20px;
    float: left;
}

.top-cloud {
    position: absolute;
    top: 25px;
    right: 500px;
}

.bottom-cloud {
    position: absolute;
    left: 450px;
    top: 325px;
}

.credit {
    padding-top: 15px;
    margin-bottom: 100px;
    font-size: 0.75rem;
}

.mountain {
    position: relative;
    margin: auto;
}

.projects {
    position: static;
    margin-top: 50px;
    margin-bottom: 100px;
}

.uber-driver-sim {
    width: 50%;
    margin: 100px auto 20px auto;
    text-align: left;
    line-height: 1.5;
}

.uber-github {
    position: relative;
    left: 96px;
    top: 15px;
    font-size: 35px;
}

.uber-driver-title {
    margin: auto;
}

.uber-sim-gif {
    float: left;
    margin-right: 20px;
    border: black 15px;
}

.skills {
    margin-top: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.about-me {
    width: 35%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    padding-top: 25px;
    background-color: #27496d;
}

.contact-me {
    margin-top: 100px;
    padding-bottom: 75px;
}

.bottom-container {
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    background-color: rgb(22, 21, 21);
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:18px;
	font-weight:bold;
	padding:14px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.footer-link {
    margin: 25px;
}

.trademark {
    margin-bottom: 0;
    color: #EAF6F6;
}